@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e6d8a4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #71503A;
  padding: 30px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #472A28;
}

.css-display {
  margin-bottom: 20px;
  background-color: #A3795B;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  text-align: end;
  word-wrap: break-word;
  word-break: break-all;
}

button {
  font-size: 18px;    
  border-radius: 16px;
  border: none;
  cursor: pointer;
  height: 55px;
  width: 55px;
  transition: 0.1s;
  box-shadow: 2px 2px 10px #472A28;
}

button:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}

button:active {
  transform: scale(1);
}

.css-buttons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 12px;
}

.zero-key {
  grid-column: span 2;
  width: 100%;
}

.number-key {
  background: #A3795B;
  color: white;
}

.operation-key {
  background: #552d21;
  color: white;
}

.other-key {
  background: #472A28;
  color: white;
}